<div class="panel panel-default">
    <div class="panel-body">
        <ui-gmap-google-map center="vm.map.center"
                            zoom="vm.map.zoom"
                            draggable="true"
                            options="vm.map.options"
                            events="vm.map.events">
            <ui-gmap-polyline
                ng-repeat="segment in vm.tracks[0].segments"
                path="segment.path"
                stroke="{color: '#ff0000', weight: 2}"
                visible="true"
                static="true"
                fit="true"></ui-gmap-polyline>
            <!-- ui-gmap-polylines models="vm.tracks"
                               path="'path'"
                               stroke="{color: '#ff0000', weight: 2}"
                               visible="true"
                               static="true"
                               fit="true"></ui-gmap-polylines -->
        </ui-gmap-google-map>
    </div>
</div>

<h2>{{vm.tracks[0].name}}</h2>
<p>{{vm.tracks[0].desc}}</p>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Start</th>
            <th>End</th>
            <th>Distance (nm)</th>
            <th>Trackpoints</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="segment in vm.tracks[0].segments">
            <td>{{segment.id}}</td>
            <td>{{segment.start | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{segment.end | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{segment.distance | number:2}}</td>
            <td>{{segment.path.length}}</td>
        </tr>
    </tbody>
</table>
