<!DOCTYPE html>
<html lang="en" ng-app="logbook">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1" />
    <title>Logbook</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="assets/icon/android-chrome-192x192.png" sizes="192x192">
    <link rel="manifest" href="assets/icon/manifest.json">
    <link rel="shortcut icon" href="assets/icon/favicon.ico">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/app.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="app.css">
    <!-- endinject -->
    <!-- endbuild -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
</head>

<body layout="row" ng-controller="LogbookController as vm">

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar>
            <h1><img src="assets/icon/sail-boat-128.png">Logbook</h1>
        </md-toolbar>
        <div class="md-whiteframe-z2 info" layout="column" layout-align="start start">
            <md-select placeholder="Track" ng-model="vm.gpx" ng-change="vm.gpxSelected()"
                       ng-disabled="!vm.mapReady || !vm.chartReady">
                <md-option ng-value="gpx" ng-repeat="gpx in vm.gpxFiles">{{gpx.name}}</md-option>
            </md-select>
            <!-- Description -->
            <h3 ng-show="vm.trip.tracks.length > 0">{{vm.origin}} - {{vm.destination}}</h3>
            <dl ng-show="vm.trip.tracks.length > 0">
                <dt>Description</dt>
                <dd>{{vm.trip.tracks[0].desc}}</dd>
                <dt>Start</dt>
                <dd>{{vm.trip.tracks[0].start | date: 'yyyy-MM-dd, H:mm'}}</dd>
                <dt>End</dt>
                <dd>{{vm.trip.tracks[0].end | date: 'yyyy-MM-dd, H:mm'}}</dd>
                <dt>Distance</dt>
                <dd>{{vm.trip.distance | number: 1}} M</dd>
                <dt>Track Points</dt>
                <dd>{{vm.trip.pointCount}}</dd>
            </dl>
        </div>
    </md-sidenav>

    <div flex layout="column">

        <md-toolbar layout="row" hide-gt-sm>
            <md-button class="menu" ng-click="vm.toggleSidebar()" aria-label="Show Sidebar">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h2>{{vm.gpx.name}}</h2>
        </md-toolbar>

        <md-content layout="column" flex>

            <md-progress-circular class="md-accent" md-mode="indeterminate" ng-show="vm.loading"></md-progress-circular>

            <!-- Map -->
            <md-card>
                <div>
                    <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" draggable="true" options="vm.map.options" events="vm.map.events">
                        <ui-gmap-polyline ng-repeat="track in vm.trip.tracks" path="track.points" stroke="{color: '#ff0000', weight: 2}" visible="true" static="true" fit="true"></ui-gmap-polyline>
                    </ui-gmap-google-map>
                </div>
            </md-card>

            <!-- Chart -->
            <md-card>
                <div google-chart chart="vm.chart" style="width: 100%; height: 200px;"></div>
            </md-card>

        </md-content>

        <div id="footer"><a href="https://icons8.com">Icon pack by Icons8</a></div>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-google-chart/ng-google-chart.js"></script>
    <script src="bower_components/geodesy/latlon-spherical.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js scripts/main.js -->
    <!-- inject:js -->
    <script src="app.js"></script>
    <script src="components/gpx/track-service.js"></script>
    <script src="components/gpx/gpx-service.js"></script>
    <script src="components/geocoder/geocoder-service.js"></script>
    <script src="logbook-controller.js"></script>
    <!-- endinject -->
    <!-- inject:partials -->
    <!-- endinject -->
    <!-- endbuild -->
</body>

</html>
